.light{
    border-radius: 100%;
    height: 300px;
    width: 300px;
    background-image: radial-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.overlay{
    background-color: rgba(0, 0, 0, 0.7);
}


.blogLoad{
    animation: slide 0.5s ease-in-out infinite;
    /* display: none; */
    left: 20%
}


/* @keyframes slide {
    from{
        left: -20%
    }
    to{
        right: -20%
    }
} */